@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

.countdown-timer {
    width: 600px;
    height: 100px;
    
    font-family: Manrope;
    font-size: 30px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query for when the screen is less than 633px */
@media screen and (max-width: 633px) {
    .countdown-timer {
       flex-direction: column;
    }
}

.countdown-timer span {
    margin-left: 5px;
    margin-right: 5px;
}