@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

body {
  margin: 0;
  font-family: Manrope;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
  color: rgb(236, 236, 236);
  font-size: 2vw;
}

code {
  font-family: Manrope;
}

img {
  width: 10%;
}

h2 {
  text-align: center;
  font-weight: 800;
  font-size: 8vw;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 5vw;
}

p {
  text-align: center;
  font-weight: 300;
  font-size: 4vw;
  margin: 2vh;
}

a:link, a:visited {
  color: rgb(0, 0, 255);
  text-decoration: none;
}


.logo {
  margin-top: 4vh;
  margin-left: 4vh;
  font-weight: 400;
  text-align: left;
  font-size: 4vw;
}

.links {
  margin-top: 5vh;
  margin-right: 5vh;
  text-align: right;
}

  
table {
  border: 1px solid rgb(255, 255, 255);
  width: 800px;
  height: 200px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border-radius: 40px;
}

  
td {
  text-align: center;
}