@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  user-select: none;
  text-decoration:none;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
}

body {

  color: black;
  background-color: #1f1d1d;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  padding: 0;
  align-content: center;
  word-break: break-all;
}

.wrapper {
  padding: 10px;
  width: 333px;
  height: 432px;
}

.logo {
  letter-spacing: 0.3mm;
  margin: auto;
  text-align: center;
  font-size: 25px;
}

img {  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a:link, a:visited {
  color: blue;
}
.text {
  padding: 10px;
}

.footer {
  position: relative;     
  text-align: center;    
  bottom: 10px; 
  width: 100%;
  font-size: x-small;
  margin-top: 11mm;
}

.signup-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.signup-button:hover,
.signup-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.signup-button:hover {
  transform: translateY(-1px);
}

.signup-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
