@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
  text-decoration:none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Manrope;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
  font-size: 2vw;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  padding: 0;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}


img {
  width: 10%;
}

h2 {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}

h3 {
  text-align: center;
  font-weight: 400;
  margin-top: 0.2em;
  font-size: 45px;
}

p {
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  margin: 2vh;
}

a:link, a:visited {
  color: rgb(0, 0, 255);
  text-decoration: none;
}


.logo {
  margin-top: 4vh;
  margin-left: 4vh;
  font-weight: 400;
  text-align: left;
  font-size: 30px;
}

.links {
  position:absolute;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  top:40px;
  right:50px;
  font-size: 60px;
}

  
table {
  width: 100%; /* change the width to be a percentage */
  height: 150px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 30px;
}

td {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  table {
    width: 90%;
    height: 100%;
  }
}

.faq-container {
  width: 90%;
  margin: 0 auto;
}

.question-container {
  width: 100%;
}

.question {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.answer {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .question-container {
    width: 100%;
  }
}

.button-35 {
  align-items: center;
  background-color: #F6CF57;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-left: 33%;
  outline: none;
  padding: 1.5rem 1.7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


.button-36 {
  align-items: center;
  background-color: #578ff6;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-left: 33%;
  margin-top: 2em;
  margin-bottom: 1.5em;
  outline: none;
  padding: 1.5rem 1.7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


